@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(#1D2123, #1A1E1F);
  @apply w-screen h-max sm:h-screen bg-no-repeat pb-24 font-Quicksand text-white
}

@font-face {
  font-family: Quicksand;
  font-weight: 700;
  src: url('./components/fonts/Quicksand-Bold.ttf');
}
@font-face {
  font-family: Quicksand;
  font-weight: 300;
  src: url('./components/fonts/Quicksand-Light.ttf');
}
@font-face {
  font-family: Quicksand;
  font-weight: 500;
  src: url('./components/fonts/Quicksand-Medium.ttf');
}
@font-face {
  font-family: Quicksand;
  fonnt-weight: 400;
  src: url('./components/fonts/Quicksand-Regular.ttf');
}

@font-face {
  font-family: Quicksand;
  font-weight: 600;
  src: url('./components/fonts/Quicksand-SemiBold.ttf');
}
